In [52]:
import pandas as pd
df_initial = pd.read_csv('feux_de_foret.csv')
df_initial.head()

C:\Users\pierr\AppData\Local\Temp\ipykernel_7528\2026782308.py:2: DtypeWarning: Columns (9,11,12,13,14,15,16,17,18,19,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df_initial = pd.read_csv('feux_de_foret.csv')

,Unnamed: 0,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,511,...,A,40.036944,-121.005833,5.0,USFS,CA,63.0,63.0,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.933056,-120.404444,5.0,USFS,CA,61.0,61.0,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17.0,17.0,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.559167,-119.913333,5.0,USFS,CA,3.0,3.0,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.559167,-119.933056,5.0,USFS,CA,3.0,3.0,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [53]:
df_initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880465 entries, 0 to 1880464
Data columns (total 40 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Unnamed: 0                  int64
 1   OBJECTID                    int64
 2   FOD_ID                      int64
 3   FPA_ID                      object
 4   SOURCE_SYSTEM_TYPE          object
 5   SOURCE_SYSTEM               object
 6   NWCG_REPORTING_AGENCY       object
 7   NWCG_REPORTING_UNIT_ID      object
 8   NWCG_REPORTING_UNIT_NAME    object
 9   SOURCE_REPORTING_UNIT       object
 10  SOURCE_REPORTING_UNIT_NAME  object
 11  LOCAL_FIRE_REPORT_ID        object
 12  LOCAL_INCIDENT_ID           object
 13  FIRE_CODE                   object
 14  FIRE_NAME                   object
 15  ICS_209_INCIDENT_NUMBER     object
 16  ICS_209_NAME                object
 17  MTBS_ID                     object
 18  MTBS_FIRE_NAME              object
 19  COMPLEX_NAME                object
 20  FIRE_YEAR                   int64
 21  DISCOVERY_DATE              float64
 22  DISCOVERY_DOY               int64
 23  DISCOVERY_TIME              float64
 24  STAT_CAUSE_CODE             float64
 25  STAT_CAUSE_DESCR            object
 26  CONT_DATE                   float64
 27  CONT_DOY                    float64
 28  CONT_TIME                   float64
 29  FIRE_SIZE                   float64
 30  FIRE_SIZE_CLASS             object
 31  LATITUDE                    float64
 32  LONGITUDE                   float64
 33  OWNER_CODE                  float64
 34  OWNER_DESCR                 object
 35  STATE                       object
 36  COUNTY                      object
 37  FIPS_CODE                   float64
 38  FIPS_NAME                   object
 39  Shape                       object
dtypes: float64(11), int64(5), object(24)
memory usage: 573.9+ MB

In [54]:
df_initial.duplicated().sum()

0

In [55]:

df_initial.isna().sum()

Unnamed: 0                          0
OBJECTID                            0
FOD_ID                              0
FPA_ID                              0
SOURCE_SYSTEM_TYPE                  0
SOURCE_SYSTEM                       0
NWCG_REPORTING_AGENCY               0
NWCG_REPORTING_UNIT_ID              0
NWCG_REPORTING_UNIT_NAME            0
SOURCE_REPORTING_UNIT               0
SOURCE_REPORTING_UNIT_NAME          0
LOCAL_FIRE_REPORT_ID          1459286
LOCAL_INCIDENT_ID              820821
FIRE_CODE                     1555741
FIRE_NAME                      960479
ICS_209_INCIDENT_NUMBER       1854748
ICS_209_NAME                  1854748
MTBS_ID                       1869462
MTBS_FIRE_NAME                1869462
COMPLEX_NAME                  1875282
FIRE_YEAR                           0
DISCOVERY_DATE                      0
DISCOVERY_DOY                       0
DISCOVERY_TIME                 882638
STAT_CAUSE_CODE                     0
STAT_CAUSE_DESCR                    0
CONT_DATE                      891531
CONT_DOY                       891531
CONT_TIME                      972553
FIRE_SIZE                           0
FIRE_SIZE_CLASS                     0
LATITUDE                            0
LONGITUDE                           0
OWNER_CODE                          0
OWNER_DESCR                         0
STATE                               0
COUNTY                         678148
FIPS_CODE                      678148
FIPS_NAME                      678148
Shape                               0
dtype: int64

In [56]:
#A number of variables will be useless for analysis, visualisation or the development of a prediction model. We will delete them in order to lighten the dataset.
#Most of the useful variables are complete. However, certain precise geographical coordinates (the name and FIPS code of the county) and the fire control date are often missing.

In [57]:
#This function is used to determine the number of NAs per variable and per State. The aim is to check that the NAs are correctly distributed.

STATE_LIST = sorted(list(df_initial.STATE.unique()))
df_NAs = pd.DataFrame()
df_NAs['STATES'] = STATE_LIST

def NA_Counters(colonne):
    
    col1 = str(colonne)+'.total'
    col2 = str(colonne)+'.percent'
    liste_total = []
    liste_percent = []
    
    for state in STATE_LIST:
       
        x = df_initial[df_initial['STATE'] == state][colonne].isna().sum()
        y = round((x/1880465)*100,2)
        liste_total.append(x)
        liste_percent.append(y)
        
    df_NAs[col1] = liste_total
    df_NAs[col2] = liste_percent
        
        
        

NA_Counters('DISCOVERY_TIME') 
NA_Counters('CONT_TIME') 
NA_Counters('FIPS_CODE') 
NA_Counters('FIPS_NAME') 

df_NAs.head()

#We note, for example, that California has high levels of NAs, even though it is one of the states most affected by fires.
#We store these results in a DataFrame so that they can be compared more easily.

,STATES,DISCOVERY_TIME.total,DISCOVERY_TIME.percent,CONT_TIME.total,CONT_TIME.percent,FIPS_CODE.total,FIPS_CODE.percent,FIPS_NAME.total,FIPS_NAME.percent
0,AK,7465,0.40,7308,0.39,12533,0.67,12533,0.67
1,AL,33210,1.77,45084,2.40,25010,1.33,25010,1.33
2,AR,17618,0.94,22195,1.18,11891,0.63,11891,0.63
3,AZ,3048,0.16,6610,0.35,47001,2.50,47001,2.50
4,CA,79333,4.22,98352,5.23,133329,7.09,133329,7.09

In [58]:
df_NAs.sort_values(by='FIPS_CODE.percent', axis=0, ascending=False).head()

,STATES,DISCOVERY_TIME.total,DISCOVERY_TIME.percent,CONT_TIME.total,CONT_TIME.percent,FIPS_CODE.total,FIPS_CODE.percent,FIPS_NAME.total,FIPS_NAME.percent
4,CA,79333,4.22,98352,5.23,133329,7.09,133329,7.09
27,NC,85210,4.53,85624,4.55,63685,3.39,63685,3.39
3,AZ,3048,0.16,6610,0.35,47001,2.50,47001,2.50
25,MS,20334,1.08,37468,1.99,30935,1.65,30935,1.65
41,SC,69283,3.68,56964,3.03,27974,1.49,27974,1.49